.DS_Store
node_modules/
npm-debug.log
selenium-debug.log
test/unit/coverage
test/e2e/reports
*.pyc
*.swp
*.mo
*~

.DS_Store
.idea
Icon?
Thumbs.db

local_config.py
db.sqlite3
horus/static/lib/themes/*
*.mo
.whoosh/*

